<div>
  <div class="mt-[100px]">
    <div class="text-xl mx-4">What's on your mind?</div>
    <div class="flex gap-4 overflow-auto mx-4">
      @for(foodItem of foodItems; track foodItem.id){
      <app-menu-item
        [imageSrc]="foodItem.imageSrc"
        [itemName]="foodItem.name"
        [orderPage]="false"
        [id]="foodItem.id"
        [price]="0"
        restaurantID="something"
      />
      }
    </div>
  </div>

  <div class="mt-[100px]">
    <div class="text-2xl m-4">Restaurants with online food delivery in Vellore</div>
    <div class="flex gap-4 overflow-auto mx-4">
      
      @for(item of itemList; track item.id){
      <app-menu-item
        [imageSrc]="item.imageSrc"
        [itemName]="item.name"
        [orderPage]="false"
        [id]="item.id"
        [price]="0"
        restaurantID="something"
      />
      }
    </div>
  </div>

  <div class="mt-[100px] m-2 mb-[100px]">
    <div class="text-2xl m-4">Top restaurant chains in Vellore</div>
    <div class="flex gap-4 overflow-auto w-full p-2">
      @for(restaurant of restaurantList; track restaurant.id){
      <app-restaurant-card
        [name]="restaurant.name"
        [imageSrc]="restaurant.imageSrc"
        [cuisines]="restaurant.cuisines"
        [location]="restaurant.location"
        [rating]="restaurant.rating"
        [price]="restaurant.price"
      />
      }
    </div>
  </div>
</div>
