<footer class="">
  <div class="flex justify-center m-2">
    <div>
      <div class="text-xl font-bold my-2">Best Places to Eat Across Cities</div>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
        @for(city of cityList ; track city.id){
        <div
          (click)="navigateToOrder()"
          class="border-2 rounded-md p-2 flex justify-center hover:border-black"
        >
        Best Restaurants in {{ city.name }}
        </div>
        }
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-4 m-2">
    <div>
      <div class="text-xl font-bold my-2">Best Cuisines Near Me</div>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
        @for(city of cityList ; track city.id){
        <div
          (click)="navigateToOrder()"
          class="border-2 rounded-md p-2 flex justify-center hover:border-black"
        >
        Explore Restaurants in {{ city.name }}
        </div>
        }
      </div>
    </div>
  </div>

  <div class="mx-auto flex flex-col items-center m-5 bg-red-100 pt-5 p-2">
    <div class="flex justify-evenly w-full">
      <div class="flex items-start mb-4">
        <img
          src="https://media-assets.swiggy.com/portal/testing/seo-home/Group.svg"
          alt="Logo"
          class="h-10"
        />
        <span class="ml-2 text-gray-600">&copy; 2024 Swiggy Limited</span>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-6 mb-4">
        <div>
          <h4 class="font-semibold">Company</h4>
          <ul>
            <li>
              <a
                href="https://www.swiggy.com/about"
                target="_blank"
                class="text-gray-600 hover:text-orange-500"
                >About Us</a
              >
            </li>
            <li>
              <a
                href="https://www.swiggy.com/corporate/"
                target="_blank"
                class="text-gray-600 hover:text-orange-500"
                >Swiggy Corporate</a
              >
            </li>
            <li>
              <a
                href="https://www.swiggy.com/careers"
                target="_blank"
                class="text-gray-600 hover:text-orange-500"
                >Careers</a
              >
            </li>
            <li>
              <a
                href="https://www.swiggy.com/team"
                target="_blank"
                class="text-gray-600 hover:text-orange-500"
                >Team</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h4 class="font-semibold">Contact us</h4>
          <ul>
            <li>
              <a
                href="https://www.swiggy.com/support"
                class="text-gray-600 hover:text-orange-500"
                >Help &amp; Support</a
              >
            </li>
            <li>
              <a
                href="https://partner-with-us.swiggy.com/onboard#/swiggy"
                target="_blank"
                class="text-gray-600 hover:text-orange-500"
                >Partner with us</a
              >
            </li>
            <li>
              <a
                href="https://ride.swiggy.com"
                target="_blank"
                class="text-gray-600 hover:text-orange-500"
                >Ride with us</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h4 class="font-semibold">Life at Swiggy</h4>
          <ul>
            <li>
              <a
                href="https://www.swiggy.com/terms-and-conditions"
                target="_blank"
                class="text-gray-600 hover:text-orange-500"
                >Explore with Swiggy</a
              >
            </li>
            <li>
              <a
                href="https://www.swiggy.com/cookie-policy"
                target="_blank"
                class="text-gray-600 hover:text-orange-500"
                >Swiggy News</a
              >
            </li>
            <li>
              <a
                href="https://www.swiggy.com/privacy-policy"
                target="_blank"
                class="text-gray-600 hover:text-orange-500"
                >Snackables</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h4 class="font-semibold">Available in:</h4>
          <ul>
            <li>
              <a
                href="/city/bangalore"
                class="text-gray-600 hover:text-orange-500 capitalize"
                >Bangalore</a
              >
            </li>
            <li>
              <a
                href="/city/gurgaon"
                class="text-gray-600 hover:text-orange-500 capitalize"
                >Gurgaon</a
              >
            </li>
            <li>
              <a
                href="/city/hyderabad"
                class="text-gray-600 hover:text-orange-500 capitalize"
                >Hyderabad</a
              >
            </li>
            <li>
              <a
                href="/city/delhi"
                class="text-gray-600 hover:text-orange-500 capitalize"
                >Delhi</a
              >
            </li>
            <li>
              <a
                href="/city/mumbai"
                class="text-gray-600 hover:text-orange-500 capitalize"
                >Mumbai</a
              >
            </li>
            <li>
              <a
                href="/city/pune"
                class="text-gray-600 hover:text-orange-500 capitalize"
                >Pune</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex mb-4">
      <span class="font-semibold">Social Links:</span>
      <a
        href="https://www.linkedin.com/company/swiggy-in/"
        target="_blank"
        class="mx-2 hover:text-orange-500"
      >
        <img
          src="https://media-assets.swiggy.com/portal/testing/seo-home/Linkedin.svg"
          alt="LinkedIn"
          class="h-6"
        />
      </a>
      <a
        href="https://www.instagram.com/swiggyindia/?hl=en"
        target="_blank"
        class="mx-2 hover:text-orange-500"
      >
        <img
          src="https://media-assets.swiggy.com/portal/testing/seo-home/icon-instagram.svg"
          alt="Instagram"
          class="h-6"
        />
      </a>
      <a
        href="https://www.facebook.com/swiggy.in/"
        target="_blank"
        class="mx-2 hover:text-orange-500"
      >
        <img
          src="https://media-assets.swiggy.com/portal/testing/seo-home/icon-facebook.svg"
          alt="Facebook"
          class="h-6"
        />
      </a>
      <a
        href="https://in.pinterest.com/swiggyindia/"
        target="_blank"
        class="mx-2 hover:text-orange-500"
      >
        <img
          src="https://media-assets.swiggy.com/portal/testing/seo-home/icon-pinterest.svg"
          alt="Pinterest"
          class="h-6"
        />
      </a>
      <a
        href="https://twitter.com/Swiggy?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
        target="_blank"
        class="mx-2 hover:text-orange-500"
      >
        <img
          src="https://media-assets.swiggy.com/portal/testing/seo-home/Twitter.svg"
          alt="Twitter"
          class="h-6"
        />
      </a>
    </div>
    <div class="text-center text-gray-600">
      For better experience, download the Swiggy app now
      <div class="flex mt-2">
        <a
          href="https://itunes.apple.com/in/app/id989540920?referrer=utm_source%3Dswiggy%26utm_medium%3Dhomepage"
          target="_blank"
          class="mr-2"
        >
          <img
            src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-AppStore_lg30tv"
            alt="App Store"
            class="h-16"
          />
        </a>
        <a
          href="https://play.google.com/store/apps/details?id=in.swiggy.android&amp;referrer=utm_source%3Dswiggy%26utm_medium%3Dheader"
          target="_blank"
        >
          <img
            src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-GooglePlay_1_zixjxl"
            alt="Google Play"
            class="h-16"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
